---
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { SITE_DESCRIPTION } from "@/lib/consts";
import CopyButton, {
  CopyButtonFallback,
} from "@/components/react/copy-button.tsx";
import ItemsList from "@/components/items-list.astro";
---

<BaseLayout title="Starter" description={SITE_DESCRIPTION}>
  <div class="container space-y-4 py-8">
    <Card className="mx-auto max-w-xl">
      <CardHeader>
        <CardTitle className="text-center text-xl font-semibold">
          Astro + Shad/CN
        </CardTitle>
      </CardHeader>
      <CardContent className="space-y-4">
        <p>
          Kick-start your Astro projest. Template loaded with only the greatest
          tools to help you build even faster, then the rest.
        </p>
        <ItemsList />
        <p>Run the command to get started</p>
      </CardContent>
    </Card>
    <Card className="relative mx-auto max-w-xl">
      <CardContent>
        <code class="font-mono text-sm font-semibold">
          npx degit https://github.com/impeterk/astro-shadcn-starter
        </code>
        <CopyButton
          client:only="react"
          text="npx degit https://github.com/impeterk/astro-shadcn-starter"
        >
          <CopyButtonFallback slot="fallback" />
        </CopyButton>
      </CardContent>
    </Card>
  </div>
</BaseLayout>
