---
import { Card, CardContent, CardHeader } from "@/components/ui/card";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { SITE_DESCRIPTION } from "@/lib/consts";
import { Icon } from "astro-icon/components";
import CopyButton, {
  CopyButtonFallback,
} from "@/components/react/copy-button.tsx";
export const prerender = true;
---

<BaseLayout title="Starter" description={SITE_DESCRIPTION}>
  <div class="container mx-auto space-y-4 py-8">
    <Card className="mx-auto max-w-xl">
      <CardHeader> Astro + Shad/CN </CardHeader>
      <CardContent>
        <p class="mb-4">
          This is a starter template for Astro with Shad/CN components and
          Tailwind CSS. You can start building your Astro project with a
          beautiful UI right away!
        </p>
        <ul class="prose dark:prose-invert list-inside list-disc px-4">
          <li><span> React </span></li>
          <li><span> Tailwind CSS </span></li>
          <li><span> Shad/CN Components </span></li>
          <li>
            <span class="inline-flex items-center gap-2">
              Astro Icon
              <Icon name="tabler:brand-tabler" class="size-5" />
              (tabler icons installed)
            </span>
          </li>
          <li>
            <span>
              {"<ClientRouter />"} with Dark Mode + actions to avoid flicker
            </span>
          </li>
          <li>
            <span>
              Custom favicon and og-image with <code>@vercel/og</code>
            </span>
          </li>
          <li>
            <span> Drizzle ORM </span>
          </li>
          <li>
            <span> Better Auth + Turso </span>
          </li>
        </ul>
      </CardContent>
    </Card>
    <Card className="relative mx-auto max-w-xl">
      <CardContent>
        <code class="font-mono text-sm font-semibold">
          npx degit https://github.com/impeterk/astro-shadcn-starter
        </code>
        <CopyButton
          client:only="react"
          text="npx degit https://github.com/impeterk/astro-shadcn-starter"
        >
          <div slot="fallback"><CopyButtonFallback /></div>
        </CopyButton>
      </CardContent>
    </Card>
  </div>
</BaseLayout>
