---
import { Card, CardContent, CardHeader } from "@/components/ui/card";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { SITE_DESCRIPTION } from "@/lib/consts";
import { Icon } from "astro-icon/components";
---

<BaseLayout title="Starter" description={SITE_DESCRIPTION}>
  <div class="container mx-auto py-8">
    <Card className="mx-auto max-w-xl">
      <CardHeader> Astro + Shad/CN </CardHeader>
      <CardContent>
        <p class="mb-4">
          This is a starter template for Astro with Shad/CN components and
          Tailwind CSS. You can start building your Astro project with a
          beautiful UI right away!
        </p>
        <ul class="list-inside list-disc px-4">
          <li>React</li>
          <li>Tailwind CSS</li>
          <li>Shad/CN Components</li>
          <li>
            Astro Icon <Icon
              name="tabler:brand-tabler"
              class="inline-flex size-6"
            /> (tabler icons installed)
          </li>
          <li>
            {"<ClientRouter />"} with Dark Mode + actions to avoid flicker
          </li>
          <li>Custom favicon and og-image with <code>@vercel/og</code></li>
        </ul>
      </CardContent>
    </Card>
  </div>
</BaseLayout>
