---
import { Button } from "./ui/button";

const today = new Date();
---

<footer class="container mx-auto py-2 text-center">
  &copy; {today.getFullYear()}
  <Button variant="link"
    ><a href="https://peterk.dev" target="_blank">Peter Kudelas</a></Button
  >
</footer>
