---
import { SITE_TITLE } from "@/lib/consts";
import { Button } from "./ui/button";
---

<header class="border-b">
  <nav class="container mx-auto py-4">
    <Button variant={"link"}><a href="/">{SITE_TITLE}</a></Button>
  </nav>
</header>
